@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);
*{
    margin:0;
    padding:0;
    box-sizing:border-box ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}
.logo{
    font-size: 2em;
    color: aqua;
    cursor: pointer;
}
.navigation{
    color: aliceblue;
}
.navigation a{
    color-scheme:white;
    font-size: 1em;
    margin-right: 19px;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}
.navigation a:hover{
    color: aqua;

}
.logo span{
    color: rgb(7, 42, 42);
}
.home{
    position: relative;
    width: 100%;
    height:100vh;
    display:flex;
    background-color: #fff;
    align-items:center ;    
    justify-content: space-between;
    padding:90px ;
    margin-bottom:10px;



}
.content{
    max-width:500px;
    color:skyblue;
}
.content h1{
    font-size: 3em;
}
.content h3{
    font-size: 2.4em;
}
.content h3 span{
    color: aquamarine;
}
.content h5{
    font-size: 1.9em;
}
.content p{
    text-align:justify;
}
.imgsection img{
    
    border-radius:50%;
    width:550px;
}
.about {
    width: 100%; 
    margin: 40px 0; 
    padding: 0 20px; 
}

.about .content {
    max-width: 100%; 
    text-align: justify; /
}

.about p {
    width: 100%; 
    margin: 0 auto; 
    font-weight: 1000;
    text-align: center;


}


.me{
    text-align: center;
    
}
.f{
  
    white-space: nowrap;
    text-align: center;
    font-size: 2.4em;
}
.education{
    text-align: center;
}
.edubar{
    background-color: #d8bfd5;
   
    
   
}


.fi{
    margin-bottom:1rem ;
    display:flex;
    background-color:#0f018b;
    width:fit-content;
    margin-top: 3px;
    margin-left:-6px;

}
.se{
    margin-top:2rem;
    font-weight:600;
    margin-left:-79rem;
    color: #fff;
}
.th{
    font-size: small;
    font-weight:600;
    margin-left:-79rem;
   
}
    


    
    
